version: 0.5.{build}

branches:
  only:
    - master


environment:
  # APPVEYOR_RDP_PASSWORD=""
  github_access:
    secure: qls7CpW54Nf3d/r2FRdxQJVsZEOZRIKnUNLmEV+OmiYv7jl3y+hZjTZF7hL4XUgw
  git_email:
    secure: Ai43hWJZMaTrKY0n/9bALQtFCURXqb8aCE3ZMPzjpoU=
  git_user:
    secure: 6y/91jUe4skCVkd8DQpFkA==

artifacts:
  - path: vim_onenote.exe
    name: Executable

init:
  # Initialise remote desktop stuff
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  # Demonstration onenote file to skip requirement for new notebook creation
  - wget https://www.onenotegem.com/uploads/8/5/1/8/8518752/things_to_do_list.one > C:\projects\vim-keybindings-for-onenote\test.one
 
install: 
  # Chocolaty install autohotkey and onenote
  - cinst autohotkey.install
  - cinst onenote --ignore-checksums
  - cinst vim

# Build.bat includes logic for running test program.
# Will fail if test fails.
build_script:
  - cmd: build.bat /t

after_test:
  - git status
  - git config --global credential.helper store
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:github_access):x-oauth-basic@github.com`n"
  - git config --global user.email "$env:git_email"
  - git config --global user.name $env:git_user
  - git remote add upstream https://github.com/idvorkin/Vim-Keybindings-For-Onenote
  - git fetch upstream
  - git checkout upstream/master
  - git add .
  - git commit -a -m "[skip ci] Appveyor build"
  - git push origin HEAD:master

deploy:
  release: vim_keybindings_for_onenote-v$(appveyor_build_version)
  description: 'CI build'
  provider: GitHub
  auth_token: $(github_access) # your encrypted token from GitHub
  artifact: Executable
  draft: false
  prerelease: true
  on:
    appveyor_repo_tag: true        # deploy on tag push only
    #branch: master                 # release from master branch only

# Allow remote desktop access
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

test: off
